@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.user-profile-section {
    display: flex;
    margin: 8%;
    margin-bottom: 2%;
    padding: 20px;
    margin-top: 6%;
    background-color: rgb(214, 212, 211);
    border-radius: 10px;
}

.profile-pic {
    width: 15%;
}

.user-info-section {
    padding-left: 5%;
    text-align: left;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: 500;
}

.user-info-section h3 {
    font-family: 'Itim', cursive;
}

.user-urllist {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.user-urllist h1 {
    font-family: 'Lilita One', cursive;
    font-weight: 300 !important;
    color: rgb(83, 38, 83);
}

.user-url-table {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    width: 95%;
}

.user-table-head {
    background-color: whitesmoke;
}


.url-list {
    color: black;
    display: flex;
    align-items: center;
    padding-right: 5px;
    margin: 5px;
}


.user-url,
.user-url-2 {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}