@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');

.App {
  min-height: 100vh;
  text-align: center;
}

.AppBar {
  align-items: self-end;
  background-image: url('https://wallpapercave.com/wp/wp3203371.jpg');
  background-color: white !important;
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 10px;
}

.appbar-btn {
  background-color: transparent;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.iconbutton {
  color: white;
}